.form-contact-me div input,select, textarea {
    width: 100%;
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: gray;
    padding: 10px;
    resize: none;
}

.form-contact-me button {
    background-color: rgb(26, 26, 27);
    color: white;
    font-size: 16px;
    padding: 5px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 75%;
    font-weight: bold;
}

.form-contact-me button:hover {
    background-color: rgb(176, 47, 0);
}

/* ==== Akhir Form Contact Me ==== */

